<ul class="lg:flex font-semibold text-digiMagenta text-lg gap-8 xl:gap-14">
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['']">Home</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['all-course']">About us</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['pages']">Our works</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['blog']">Gallery</a>
    </li>
    <li class="p-3 border-y lg:border-0">
        <a [routerLink]="['contact']">Contact</a>
    </li>
</ul>